<!DOCTYPE html>
<html>
<head>
    <title>Страница авторизации</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="auth_back">
        <h1 style="padding-top: 40px; padding-bottom: 15px;">Страница авторизации</h1>
    
        <div class="auth">
            <form method="POST" action="{{ url_for('login') }}">
                <input style="width: 170px;" class="text_log" type="text" name="username" placeholder="Логин">
                <br>
                <input style="width: 170px;" class="text_pas" type="password" name="password" placeholder="Пароль">
                <br>
                <div>
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <button style="width: 170px;" type="submit">Войти</button>
            </form>
        </div>

        

        <a href="{{ url_for('index') }}">Назад</a>
    </div>
</body>
</html>